@media only screen and (min-width: 37.5em) {

    /*Navegação*/
    nav {flex-direction: row; justify-content: space-around;}
    nav ul {flex-direction: row; width: 70%;}

    /*Cabeçalho*/
    header {height: 600px; height: 60vh; justify-content: center;}

    /*Sobre*/
    /* #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
        padding: 40px;
    }
    #serviços {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #serviços h2 {text-align: center; width: 100%;}
    #serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    } */

    /*Fotos*/
    #fotos {flex-direction: row; flex-wrap: wrap;}
    #fotos h2 {width: 100%; text-align: center;}
    #fotos img {width: 33%;}


/*reservation*/

   .container2, .container-form {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    .container2 div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    /* .reservation {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    } */

   
    
 

  

    
        
       
   

    


}