
body {font-family: 'Nunito', sans-serif; color:#1c1c1c;}

h1, h2, h3 {font-family: 'Asap', sans-serif; color:#000000;}



/* Navegação */

nav {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background:repeating-linear-gradient( #8b2c40, #436c89);
}
nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Yellowtail', cursive;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}
nav ul li {text-align: center; width: 100%;}
nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

/*Cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../image/bismark-north-dakota-temple-83526-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    padding: 20px;
}
header h1 {color:#FFFFFF}
header p {margin-bottom: 2em;}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background:repeating-linear-gradient(#436c89, #8b2c40);   
    color: #FFFFFF;
}
#sobre h2 {color: #FFFFFF;}
#sobre p {margin-bottom: 2.5em; max-width: 1000px;}
#sobre .botao {
    background-color: #f1f1f1; 
    color: #1c1c1c;        
    text-decoration:none;
    padding: 10px 30px;       
    font-size: .9em;
    border-radius: 3px;    
}

/*serviços*/

#serviços, #serviços div {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 30px;
}

/* Fotos*/

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#fotos h2 {margin-bottom: 20px;}
#fotos img {width: 100%;}

/*Contato*/
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#contato h2 {color: #000000;}

/*Rodapé*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #436c89;
    color: #FFFFFF;
}
footer a {text-decoration: none; color: #00FFFF;}
footer .botao {
    background-color: #f1f1f1; 
    color: #1c1c1c;        
    text-decoration:none;
    padding: 10px 30px;       
    font-size: .9em;
    border-radius: 3px;    
}
