/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {margin:0 2vw;}
nav button {
    margin: 2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
} 
nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block; /*transforma todo o bloco em area clicavél*/
    padding: .8rem 2vw;
    text-decoration: none;/*tira o sublinhado embaixo de cada nome de menu*/
    color:#333; /*muda a cor roxa padrão de menus clicados*/
    border-top: 1px solid rgba(0,0,0,0.5); /* rgba é usado para adicionar cor com transparencia. O border-top adiciona linhas aos blocos de menu*/
}

nav ul li.active a { /*este css style, precisa sempre estar antes do "nav ul li a:hover"*/
    background-color: rgba(0,0,0,0.2); 
    color: #fff; /* cor para cada nome no menu*/
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3); /* para adicionar cor ao passar o mouse em cada bloco do menu*/
}

nav ul {display: none;}
nav ul.open {display: block;}

/*mostra apenas o icone do hamburguer*/
#hamburgerBtn span:nth-child(1) {display: block;} 
#hamburgerBtn span:nth-child(2) {display: none;}

/*mostra o icone do hamburguer enquanto o menu está fechado e quando aberto, mostar o X*/
#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}














