body {
    background-color: rgba(167, 147, 117, 0.658);
}

h1 {
    color: rgb(61, 46, 26);
    text-align: center;
}

picture {
    display: block;
    margin: 10px auto;
    padding: 2px;
    margin-left: auto;
   text-align: center;
}

img {
    width: 400px;
    transform: translateX(50%);
    opacity: 20px;
    transition: all 100ms;
}

.fade {
    transform: translateX(0);
    opacity: 3.0;
    transition: all 500ms;
}