body{
    background-color: #F5FAF0;
    font-family: 'Kalam', cursive;
    color: #205960;    
}
/* first box */
.box-presentation{
    display: flex;
    background-color: #996773;
    border-radius: 30px;
    width: 460px;   
    height: 175px;  
    box-shadow: 3px 3px 4px 3px #5e5f61;
    border-radius: 4px;       
    padding: 1em;
    margin: auto;      
    font-family: "Lato", Arial, sans-serif;     
}
img{
    margin-left: 30px;
    box-shadow: 2px 2px 4px 2px #3a3b3d;
}
h1{
    color: #F5FAF0;    
    margin-left: 40px;
    margin-top: 70px;    
    font-size: 30px;     
}
/* title */
h2{
    margin-left: 400px;
    font-size: 30px;
}

/* menu */
li{
    font-size: 20px; 
}

/* horizontal lines */
hr {   
    width: 490px;  
    margin-top: -8px;    
  }

nav{
    margin-left: 400px;
}

.obs{
    color: #6c8e99;
    margin-left: 400px;    
}

footer{
    font-family: "Lato", Arial, sans-serif; 
    font-size: 13px; 
    text-align: center;          
}
.box-footer{
    display:block;
    background-color: #996773;
    color: #F5FAF0;
    border-radius: 30px;
    width: 460px;   
    height: 60px;  
    box-shadow: 3px 3px 4px 3px #5e5f61;
    border-radius: 4px;       
    padding: 1em;
    margin-left: 400px;       
}

